.imgSerieDetails{
    width: 20em;
}

.colTitle{
    height: 7em;

    .titleSerie{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ac614e;
        color: #f1e9d5;
        height: 2em;
        font-family:'papyrus';
    }
}
