.divAllRentals {
  display: flex;
  flex-wrap: wrap;
}

.titleAdmin {
  margin: 2em 0;
  background-color: #ac614e;
  padding: 1em;
}

.divRental {
  width: fit-content;
  border-radius: 1em;
  background-color: #f1e9d5;
  padding: 1em;
}

.divUser {
    width: fit-content;
    border-radius: 1em;
    background-color: #f1e9d5;
    padding: 1em;
    margin: 1em;
  }

