.registerDesign {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ac614e;
    font-style: italic;
    font-weight: 550;
}


.registerButtonDesign {
    height: 2em;
    width: 9em;
    margin-top: 2em;
    background-color: red;
    transition: 0.3s;
    border-radius: 1em;
}

.errorInput {
    color: red;
    font-style: italic;
}

