.registerDesign {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formRegister {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .divRegister {
      display: flex;
      width: 80vw;
      flex-direction: column;
      align-items: center;
    
      margin-top: 3em;
      margin-bottom: 2em;
      background-color: #ac614e;
      padding: 2em 0 2em 0;
      border-radius: 0.5em;
      box-shadow: 0px 1px 20px 2px;
    }
  }
  
}

.registerButtonDesign {
  height: 2em;
  width: 9em;
  margin-top: 2em;
  background-color: red;
  transition: 0.3s;
  border-radius: 1em;
}

.errorInput {
  color: red;
  font-style: italic;

  transition: 0.3s;

  border-radius: 1em;
}

.errorRepeatInput {
  color: red;
}

.buttonForm {
  margin-bottom: 1em;
}
.inputRegister {
  margin: 2em 0 2em 0;
  width: 55vw;
}

.inputNameRegister {
  font-weight: 600;
}
