.img {
  display: flex;
  justify-content: center;
  width: 23em;
}

.p1 {
  color: #f1e9d5;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'papyrus';
}

.p2 {
  color: #ac614e;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'papyrus';
}


  .row1 {
    background-color: #ac614e;
  }

  .row2 {
    background-color: #f1e9d5;
  }

.colImg{
  display: flex;
  justify-content: center;
}

.title{
  font-family:'papyrus';
}

.rowNamePosters{
height: 10em;
align-items: center;
}

.namePosters{
  cursor: pointer;
  font-family:'papyrus';
}