.headersName{
    cursor: pointer;
    width: 5em;
    font-weight: 600;
    color: #ac614e;
    margin-right: 1em;
}

.logo{
    height:4em;
    display: flex;
}


.header{
    height: 13vh;
    background-color:white;
}

.nameUser{
    width: 20vw;
}