.text {
  font-family:'papyrus';
  color: #ac614e;
  font-style: italic;
}

.inputLogin {
  width: 60vw;
}

.formLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputNameLogin {
  /* color: #ac614e ; */
  font-weight: 600;
}

.buttonForm:hover {
    border: #ac614e;
  background-color: #ac614e;
}
